.movie-card__placeholder {
    width: 100%;
    height: 100%;
    background-color: #ddd;
    animation: pulse 1.5s infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    font-size: 2rem;
}

@keyframes pulse {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}

.movie-card__image {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.movie-card__image--loaded {
    opacity: 1;
}