
.movie-row {
    margin-bottom: 32px;
}


.movie-row__title {
    font-size: 1.6rem;
    font-weight: 800;

    margin-bottom: 14px;
    padding-left: 10px;

    text-transform: uppercase;
    letter-spacing: 1px;

    color: #000; 
}


.movie-row__posters {
    display: flex;
    gap: 15px;

    padding: 20px 10px;

    overflow-x: auto;
    overflow-y: hidden;

    scroll-behavior: smooth;
    overscroll-behavior-x: contain;
}

/* Hide scrollbar but keep scroll */
.movie-row__posters::-webkit-scrollbar {
    display: none;
}

.movie-row__posters {
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* IE */
}

/* Large row spacing (for hover scale cards) */
.movie-row__posters--large {
    padding-top: 40px;
}
