
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background: #ffffff;
  border-bottom: 1px solid #eee;
  z-index: 1000;

  display: flex;
  align-items: center;
}

.nav__black {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}


.nav__contents {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;          
  justify-content: space-between;

  padding: 0 24px;
}

.nav__logo {
  margin: 0;
  padding: 0;

  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1;

  cursor: pointer;
  color: #f84464;

  display: flex;
  align-items: center;
}

.nav__logo span {
  color: #000;
  margin: 0 4px;
}


.nav__links {
  display: flex;
  align-items: center;          
  gap: 18px;
}

/* LINKS */
.nav__link {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;

  color: #000;
  height: 36px;
  line-height: 36px;
  padding: 0 12px;

  display: flex;
  align-items: center;
}

.nav__link:hover {
  color: #f84464;
}


.nav__avatar {
  height: 35px;
  padding: 0 15px;

  border: none;
  border-radius: 8px;

  background: #f84464;
  color: white;

  font-size: 0.75rem;
  font-weight: 800;
  text-transform: uppercase;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  top: -7px;   
}

.nav__avatar:hover {
  background: #e23452;
}
